<html lang="en">

<head>
  {{>header}}
</head>

<body class="container">

  <h1 class="display-4">{{title}}</h1>
  <h2 class="display-4">My Projects</h1>
    <div class="text-right">
      <a href="/add" class="btn btn-primary">
        Add a new project
      </a>
    </div>

    <div class="text-left" style="margin-bottom: 1em;">

      {{#projects}}
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Project: {{project}}

            <a href="delete/{{project}}"><i class="fa fa-trash fa-lg"></i></a>

            <a href="edit/{{project}}"><i class="fa fa-edit fa-lg"></i></a>

          </div>
          <div class="card-text">
            <div class="card-title">Module: {{module}} </div>
            <div class="card-text">Intended Due Date: {{intendedDate}} </div>
            <div class="card-text">Actual Completion Date: {{actualDate}} </div>
          </div>
        </div>
      </div>
      {{/projects}}

    </div>
    
</body>

</html>