<html lang="en">

<head>
    {{>header}}
</head>

<body class="container">

    <h1 class="display-4">{{title}}</h1>
    <h2 class="display-4">Edit Milestone</h2> 

    <form method="post" role="form" >   
    {{#item}}
        <div class="form-group">
            <label for="project">Milestone: </label> 
            <input type="text" class="form-control-plaintext" id="milestone" name="milestone"  value="{{milestone}}" >
        </div>

        <div class="form-group">
            <label for="age">Module</label>
            <input type="radio" class="form-control-plaintext" id="completed" name="completed" value="{{completed}}" >
        </div>

        <div class="form-group">
            <input type="submit" value="Save milestone details" class="btn btn-primary">
        </div>
    {{/item}}
    </form>

    {{>footer}}
</body>