<head>
    {{>header}}
    <link rel="stylesheet" type="text/css" href="/../css/home.css">
</head>

<body>
    <div class="container">
        Home page
        <form id="logout-form">
            <div class="form-group d-flex">
                <button type="submit" class="btn btn-warning">Logout</button>
            </div>
        </form>
    </div>

    {{>footer}}
    <script src="/../../js/home.js"></script>
</body>