<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <div class="container">
        Add upcoming milestones in here? maybe?
    </div>

    {{>footer}}
    <script src="/../../js/home.js"></script>
</body>